<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Empleado</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
  <div class="col-sm-6">
    <form th:action="@{/guardarprov}" th:object="${proveedor}" method="post">
      <div class="card">
        <div class="card-header"></div>
        <h3>Insertar proveedor</h3>
        <div class="card-body"></div>
       <!--<div class="form-group">
          <label>Documento</label>
          <input th:field="*{prov_id}" type="text" class="from-control"/>
        </div>-->
        <div class="form-group">
              <label class="col-md-2">Documento</label>
              <input th:field="*{prov_documento}" type="text" class="from-control" placeholder="Documento"/>
        </div>
        <div class="form-group">
              <label class="col-md-2">Nombre</label>
              <input th:field="*{prov_nombre}" type="text" class="from-control" placeholder="Nombre"/>
        </div>
        <div class="form-group">
              <label class="col-md-2">Apellido</label>
              <input th:field="*{prov_apellido}" type="text" class="from-control" placeholder="Apellido"/>
        </div>
        <div class="form-group">
              <label class="col-md-2">Telefono</label>
              <input th:field="*{prov_telefono}" type="text" class="from-control" placeholder="Telefono"/>
        </div>
        <div class="form-group">
              <label class="col-md-2">Direccion</label>
              <input th:field="*{prov_direccion}" type="text" class="from-control" placeholder="Direccion"/>
        </div>
        <div class="card-footer"></div>
        <input type="submit" value="Guardar" class="btn btn-success"/>
        <a href="/proveedor" class="btn btn-success">Volver</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>