<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Servicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <div class="col-sm-6">
        <form th:action="@{/guardarservi}" th:object="${servicio}" method="post">
            <div class="card">
                <div class="card-header"></div>
                <h3>Insertar Servicio</h3>
                <div class="card-body"></div>
                <div class="form-group row">
                    <label class="col-md-2">Cliente</label>
                    <select th:field="*{cli_id}" class="from-control form-control-sm- col-md-6" placeholder="Tipo Cliente" >
                        <option th:each="clientes:${clientes}"
                                th:value="${clientes.cli_id}"
                                th:text="${clientes.cli_nombre}">
                        </option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-md-2">Corte</label>
                    <select th:field="*{cort_id}" class="from-control form-control-sm- col-md-6" placeholder="Tipo Cortes" >
                        <option th:each="cortes:${cortes}"
                                th:value="${cortes.id_corte}"
                                th:text="${cortes.cor_nombre}">
                        </option>
                    </select>
                </div>

                <div class="form-group row">
                    <label class="col-md-2">Empleado</label>
                    <select th:field="*{emp_id}" class="from-control form-control-sm- col-md-6" placeholder="Tipo Cortes" >
                        <option th:each="empleado:${empleado}"
                                th:value="${empleado.emp_id}"
                                th:text="${empleado.emp_nombre}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Inicio hora</label>
                    <input th:field="*{ser_inicio_hora}" type="text" class="from-control" placeholder="Inicio Servicio"/>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Final hora</label>
                    <input th:field="*{ser_final_hora}" type="text" class="from-control" placeholder="Final Servicio"/>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Observacion</label>
                    <input th:field="*{ser_observacion}" type="text" class="from-control" placeholder="Observacion"/>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Cancela</label>
                    <input th:field="*{ser_cancela}" type="number" class="from-control" placeholder="Cancela"/>
                </div>

                <div class="card-footer"></div>
                <input type="submit" value="Guardar" class="btn btn-success"/>
                <a href="servicio" class="btn btn-success">Volver</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>